@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  20 April 2018

Contents  :
  1: Footer Section
  
========================================================================== */

/*
  Transition
-------------------------------------*/
@mixin transition($time) {
  -webkit-transition: all $time ease-in-out;
     -moz-transition: all $time ease-in-out;
      -ms-transition: all $time ease-in-out;
       -o-transition: all $time ease-in-out;
          transition: all $time ease-in-out;
}
/*
  Animation Delay
-------------------------------------*/
@mixin animation-delay($time) {
  -webkit-animation-delay: $time;
     -moz-animation-delay: $time;
      -ms-animation-delay: $time;
       -o-animation-delay: $time;
          animation-delay: $time;
}

/*
  Footer
-------------------------------------*/
.sosmed {
  position: absolute;
  bottom: 10px;
  left: 20px;
  z-index: 9999;
  li {
    padding: 4px 0;
  }
  .flip-text {
    position: relative;
    transform: rotateZ(-90deg);
    right: 13px;
    top: -26px;
    a {
      color: #FFF;
      font-size: 16px;
      font-weight: 700;
    }
  }
  img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
}