.sosmed{position:absolute;bottom:10px;left:20px;z-index:9999}.sosmed li{padding:4px 0}.sosmed .flip-text{position:relative;transform:rotateZ(-90deg);right:13px;top:-26px}.sosmed .flip-text a{color:#FFF;font-size:16px;font-weight:700}.sosmed img{-webkit-filter:invert(100%);filter:invert(100%)}
