@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  20 April 2018

Source  :
  1: Arif Framework The MIT License (MIT) Copyright (c) Arif Lutfhansah
  2: Bootstrap Framework The MIT License (MIT) Copyright (c) Bootstrap
  3: Materialize Framework The MIT License (MIT) Copyright (c) 2014-2017 Materialize

Contents  :
  1: Header Section

  Copyright (c) 2018 Arif Lutfhansah
  
========================================================================== */

/*
  Transition
-------------------------------------*/
@mixin transition($time) {
  -webkit-transition: all $time ease-in-out;
     -moz-transition: all $time ease-in-out;
      -ms-transition: all $time ease-in-out;
       -o-transition: all $time ease-in-out;
          transition: all $time ease-in-out;
}
/*
  Animation Delay
-------------------------------------*/
@mixin animation-delay($time) {
  -webkit-animation-delay: $time;
     -moz-animation-delay: $time;
      -ms-animation-delay: $time;
       -o-animation-delay: $time;
          animation-delay: $time;
}

/*
  Header
-------------------------------------*/
header {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 9999;
  .inner {
    padding: 0 20px;
  }
}
.logo {
  float: left;
  padding: 10px 0;
}
nav {
  float: right;
  li {
    display: inline-block;
    padding: 18px 10px;
  }
  a {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
  }
}