header{position:fixed;width:100%;height:auto;z-index:9999}header .inner{padding:0 20px}.logo{float:left;padding:10px 0}nav{float:right}nav li{display:inline-block;padding:18px 10px}nav a{color:#FFF;font-size:16px;font-weight:700}
